<div class="list">
    <div *ngIf="releases">
        <div *ngFor="let release of releases">
            <div class="container">
                <div class="release_header row">
                    <div class="id col-md-2">Release: {{release.tableid}}</div>
                    <div class="date col-md-4">{{release.date}}</div>
                    <div class="anchor col-md-2">{{release.anchor}}</div>
                    <div class="status col-md-4">{{release.status}}</div>
                </div>
            </div>
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Jira #no</th>
                        <th scope="col">Task Name</th>
                        <th scope="col">Owner</th>
                        <th scope="col">UAT Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update Space</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let task of release.tasks">
                      <tr (click)="showTaskDetails(task.jira_no)">
                        <th scope="row">{{task.jira_no}}</th>
                        <td>{{task.task_name}}</td>
                        <td>{{task.owner}}</td>
                        <td>{{task.uat_date}}</td>
                        <td>{{task.status}}</td>
                        <td>
                          {{task.updateStatus}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
        </div>
    </div>
</div>
