<div class="wrapper">
    <h1 class="title">Scrum Management</h1>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" ngModel name="email" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" ngModel name="password" required/>
        </div>
        <div class="form-group">
            <button  class="btn btn-primary">
                Login
            </button>
        </div>
    </form>
</div>
