.list {
    height: 280px;
    overflow-y: scroll;
}
.backing {
    background-color: #F5F5F5;
}

.title {
    padding:1em;
    text-align: center;
}

.rights {
    color:white;
    box-shadow: 0 4px 2px -2px gray;
}

.rights:hover {
    box-shadow: 0 4px 2px -2px rgb(73, 72, 72);
}