<div class="backing">
    <h4 class="title">Add Team Member</h4>
    <form #memberForm="ngForm" (ngSubmit)="AddMember(memberForm)">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" ngModel name="name" required/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" ngModel name="email" required/>
        </div>
        <div class="form-group">
            <label for="role">Select list:</label>
            <select class="form-control" ngModel name="role" id="role" required>
              <option>Dev</option>
              <option>QA</option>
              <option>DBDev</option>
              <option>Manager</option>
              <option>BA</option>
            </select>
        </div>
        <div class="form-group">
            <button  class="btn btn-primary">
                Add Member
            </button>
        </div> 
    </form>
    <div class="list">
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">SOEID</th>
                    <th scope="col">Name</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Role</th>
                    <th scope="col">SM Rights</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody *ngFor="let member of members" class="window">
                  <tr>
                    <th scope="row">{{member.soeid}}</th>
                    <td>{{member.name}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.role}} </td>
                    <td>
                      <button class="rights btn" (click)="toggleSMRights(member.soeid, member.secondScrummaster)" [ngStyle]="{ 'background-color' : (member.secondScrummaster == true)? '#4CAF50' : '#F44336' }">{{member.secondScrummaster}}</button>
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="removeMember(member.soeid)">X</button>
                    </td>

                  </tr>
                </tbody>
              </table>
    </div>
</div>

