<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Scrum Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" *ngIf="isScrumMaster">
              <a class="nav-link" href="#" (click)="showMembers()">Members</a>
            </li>
            <li class="nav-item" *ngIf="isScrumMaster">
              <a class="nav-link" href="#" (click)="showAddRelease()">Add Release</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="showSettings()">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="logOut()">Log Out</a>
              </li>
          </ul>
        </div>
      </nav>
      <div class="">
        <div class="row">
          <div class="col-md-7">
            <div class="window">
                <app-releases></app-releases>
            </div>
            <div class="btn_wrapper">
              <button class="btn btn-primary send_email" (click)="sendEmail()">Send Email</button>
            </div>
          </div>
          <div class="col-md-5 panel">
            <div *ngIf="settings"><app-settings></app-settings></div>
            <div *ngIf="addRelease"><app-addrelease></app-addrelease></div>
            <div *ngIf="members"><app-viewmembers></app-viewmembers></div>
          </div>
        </div>
      </div>
    

    
